* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.light-container {
    background-color:beige;
    padding: 48px 24px;
    color: rgb(77, 21, 21);
}

.dark-container {
    background-color: rgb(77, 21, 21);
    padding: 48px 24px;
    color: beige;
}