* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column2 {
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
}

.card {
    border: 5px solid maroon;
    margin: 36px 0px;
    padding: 36px;
    text-align: center;
}

.card h3 {
    font-size: 36px;
    margin: 24px 0px 0px
}

#card-container {
    display: flex;
    gap: 36px;
}

img {
    border-radius: 65%;
}