* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.button {
    text-decoration: none;
    color: black;
    display: inline-block;
}


.background {
    background-color: #f0f465;
    color: #6184db;
    padding: 24px 36px;
    border-radius: 16px;
    font-size: 28px;
    font-weight: bold;
    margin: 24px;
    border: 3px solid #f0f465;
}
.simple {
    border: 3px solid #6164db;
    border-radius: 8px ;
    margin: 24px;
    padding: 10px;
    background-color: white;
    font-size: 35px;
    color: #f0f465
}

.same {
    min-width: 300px;
    text-align: center;
    background-color: white ;
    border: 3px solid #f0f465;
}