@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #5d2a26;
}

.single-column-center {
    background-color: #cdb3a1;
    width: 80%;
    max-width: 800px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    height: 1300px;
    border-radius: 5%;
}
p {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

h3 {
    font-family: "Montserrat", sans-serif;
}

h5 {
    font-family: "Montserrat", sans-serif;
    color: #342314;
    font-size: x-small;
}

.title {
    border-bottom: 5px solid #5d2a26;
    border-left: 2.5px solid #5d2a26;
    padding-left: 15px;
}

img {
    width: 100%;
    height: 20%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.bottom-pic1 {
    width: 200px;
    height: 200px;
    margin-top: 15px;
}
