@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column {
    max-width: 1200px;
    font-family: sans-serif;
    margin: 20px auto;
    padding: 40px;
}

.side-by-side-container {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.side-by-side-container .image-container,
.side-by-side-container .text-container {
    flex: 1;
}

.side-by-side-container .image-container img {
    width: 80%;
    min-width: 100px;
    height: 700px;
    width: auto;
}

.side-by-side-container h1 {
    font-size: 60px;
}

@media screen and (max-width: 580px) {
    .side-by-side-container h2 {
        font-size: 24px;
    }
}

.button {
    background-color: black;
    color: white;
    padding: 24px 36px;
    font-size: 12px;
    font-weight: bold;
    align-items: center;
}

#single-column2 {
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
    padding: 30px;
}

.card {
    margin: 36px 0px;
    padding: 36px;
    text-align: center;
}

.card h3 {
    font-size: 36px;
    margin: 24px 0px 0px
}

#card-container {
    display: flex;
    gap: 36px;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}
