@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

p {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

h3 {
    font-family: "Montserrat", sans-serif;
}

.single-column-left {
    background-color: rgba(255, 235, 205, 0.577);
    width: 80%;
    max-width: 800px;
}

.single-column-right {
    background-color: rgba(255, 235, 205, 0.577);
    width: 80%;
    max-width: 800px;
    margin-left: auto;
}
.single-column-center {
    background-color: rgba(255, 235, 205, 0.577);
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}