
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column {
    max-width: 1200px;
    font-family: sans-serif;
    margin: 0px auto;
}

.side-by-side-container {
    display: flex;
    align-items: center;
    gap: 36px;
}

.side-by-side-container .image-container,
.side-by-side-container .text-container {
    flex: 1;
}

.side-by-side-container .image-container img {
    width: 100%;
    min-width: 300px;
}

.side-by-side-container h1 {
    font-size: 60px;
}

@media screen and (max-width: 580px) {
    .side-by-side-container h2 {
        font-size: 24px;
    }
}
