* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

p {
    /* basic
    border: 10px solid red; */
    /* grooved
    border: 10px groove red; */
    /* expanded
    border-color: red;
    border-width: 10px;
    border-style: solid; */
    border: 10px dashed grey;
    margin: 0px;
}

#chatbox {
    border-radius: 24px 24px 24px 0px;
    background-color: lightcoral;
    padding: 48px;
    margin-left: 60px;
    margin-right: 24px;
}
#chatbox2 {
    border-radius: 24px 24px 0px 24px;
    background-color: lightgoldenrodyellow;
    padding: 48px;
    margin-left: 24px;
    margin-right: 60px;
}